<!---<nav class="menu">
<ul>
    <li class="li" routerLink="/">Inicio</li>
    <li class="li" routerLink="/alta" *ngIf="!isLogin">Registrarse</li>
    <li class="li" routerLink="/ingreso" *ngIf="!isLogin">Ingresar</li>
    <li class="li" (click)="salir()" *ngIf="isLogin">Cerrar sesión</li>
</ul>
</nav> --->

<mat-sidenav-container class="Navcontainer" >
    <mat-sidenav mode="side" opened>
        <mat-selection-list [multiple]="false">
            <mat-list-option >
            <li class="li" routerLink="/">Inicio</li>
            </mat-list-option>

            <mat-list-option >
            <li class="li" routerLink="/alta" *ngIf="!isLogin">Registrarse</li>
            </mat-list-option>

            <mat-list-option >
            <li class="li" routerLink="/ingreso" *ngIf="!isLogin">Ingresar</li>
            </mat-list-option>
            
            <mat-list-option>
            <li class="li" (click)="salir()" *ngIf="isLogin">Cerrar sesión</li>
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content> 
  </mat-sidenav-container>
  
 


