<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Permanent+Marker&family=Shizuru&family=Syncopate&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1>Multi Stock Ecommerce</h1>
    </header>

<app-menu></app-menu>
<router-outlet></router-outlet>
<app-main></app-main>
<footer class="pie">
    Derechos Reservados 2021 - 2030
</footer>

</body>

